.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0 24px 0 0;
  padding: 0;
}

@media (max-width: 800px) {
  .profile__name {
    text-align: center;
    margin: 14px 12px 0 0;
  }
}

@media(max-width: 500px) {
  .profile__name {
    font-size: 22px;
  }
}