.profile__description {
  flex-basis: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 4px 0 0 0;
  padding: 0;
  overflow: hidden;
  order: 1;
}

@media (max-width: 800px) {
  .profile__description {
    text-align: center;
    margin: 0 0 32px 0;
  }
}

@media(max-width: 500px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}