@import url('./__container/popup__container.css');
@import url('./__input/popup__input.css');
@import url('./__input-error/popup__input-error.css');
@import url('./__title/popup__title.css');
@import url('./__image/popup__image.css');
@import url('./__image-title/popup__image-title.css');
@import url('./__field/popup__field.css');

.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity .3s linear;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
}

.popup_image {
  background: rgba(0, 0, 0, 0.9);
}